article #main-content {
  scroll-margin-block-start: calc(var(--unit--vertical) * 6);
  padding-bottom: calc(var(--unit--vertical) * 2);
  margin-top: calc(2 * var(--unit--vertical));
}

#main-content .texts {
  margin-top: calc(2 * var(--unit--vertical));
}

#main-content .see-more {
  margin-top: calc(var(--unit--vertical) * 0.5);
}

[data-template="year"] article > h1 {
  margin-bottom: 0;
}

article #main-content #chapo::after {
  content: "";
  display: block;
  margin-top: calc(2 * var(--unit--vertical));
  margin-bottom: calc(4 * var(--unit--vertical));

  width: 100%;
  height: 1px;
  background-color: #fff;
}

article #main-content li:not(.text) {
  list-style-type: inherit;
}

article h3 {
  margin-top: calc(3 * var(--unit--vertical));
  margin-bottom: calc(1 * var(--unit--vertical));
}

@media screen and (min-width: 640px) {
  article #main-content {
    max-width: auto;
  }
}
