#main-footer {
  position: fixed;
  bottom: 0;
  box-sizing: border-box;

  border-bottom: 0;
}

[data-template="home"] #main-footer {
  position: fixed;
  left: 0;
  bottom: 0;
}

#main-footer li:not(.open-nav-wrapper) {
  display: none;
}

#main-footer button.open-nav {
  transform: translateY(-1px);
}

[data-template="home"] .title-wrapper button.open-nav {
  display: inline-block !important;
}

@media screen and (max-width: 640px) {
  #main-footer .open-nav {
    box-sizing: border-box;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    outline: none;
    border-top: 1px solid #fff;
    font-size: var(--font-size-m);
    background-color: #000;
    padding: calc(var(--unit--vertical) / 2) var(--unit--horizontal);
    margin-bottom: env(safe-area-inset-bottom);
  }
}

@media screen and (min-width: 640px) {
  #main-footer li {
    display: block !important;
  }
  #main-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: var(--body-padding);
    background-color: transparent;
    padding: var(--unit--vertical) var(--unit--horizontal);
  }
  #main-footer ul {
    display: block;
  }

  #main-footer button.open-nav {
    margin-bottom: var(--unit--vertical);
  }

  [data-template="home"] #main-footer .open-nav-wrapper {
    display: none !important;
  }

  .open-nav-wrapper {
    padding: 0;
    border: none;
    background-color: transparent;
  }
}
