body.full-width #desktop-nav {
  height: auto;
}
body.full-width #desktop-nav .empty {
  height: calc(var(--unit--vertical) / 2);
}
body.full-width #main-content {
  position: absolute;
  left: 0;
  width: 100vw;
  padding: 0 var(--unit--horizontal) var(--unit--vertical)
    var(--unit--horizontal);
  box-sizing: border-box;
}

.grid .column {
  grid-column: span var(--span);
}

.grid[data-columns="1"] .column {
  grid-column: 11 / span 20;
}

[data-template="grid"] main #main-content {
  margin-left: inherit;
}

@media screen and (max-width: 640px) {
  .grid .column:not(:last-child) {
    margin-bottom: calc(2 * var(--unit--vertical));
  }
}

@media screen and (min-width: 640px) {
  [data-template="grid"] main #main-content {
    margin-left: calc(0px - calc(4 * var(--unit--horizontal)));
  }

  [data-template="grid"] .grid {
    display: grid;
    grid-template-columns: repeat(39, 1fr);
    column-gap: var(--unit--horizontal);
    margin-bottom: calc(var(--unit--vertical) * 2);
  }
}
