#subscribe-btn-wrapper {
  height: 2.5rem;
  margin-bottom: 0.2rem;
}

#subscribe-form {
  position: relative;
  width: fit-content;
}

#subscribe-form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  padding-bottom: 0.3rem;
  padding-right: 2rem;
  color: #fff;
  width: 15rem;
}
#subscribe-form input:focus-visible {
  outline: none;
}
#subscribe-form button[type="submit"] {
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
}
