@media print {
  /* Hide header / footer infos. */
  @page {
    margin: 0;
    size: auto;

    @top-left {
      content: none;
    }
    @top-right {
      content: none;
    }
    @top-center {
      content: none;
    }

    @bottom-left {
      content: none;
    }
    @bottom-right {
      content: none;
    }
    @bottom-center {
      content: none;
    }
  }

  body {
    padding-top: 4rem;
    color: #000;
  }

  .panel {
    display: none;
  }

  .main-title.fs-xxl {
    font-size: 7rem !important;
    line-height: 1 !important;
  }

  #main-header {
    position: relative;
  }

  #logo #actuel {
    color: #000;
    opacity: 0.8;
  }

  #logo #inactuel {
    color: rgb(86, 217, 163);
  }

  #entry-btns {
    display: none;
  }

  a {
    text-decoration: none !important;
  }

  article #main-content {
    width: 60%;
    margin: auto;
  }
}
