html,
body,
h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

button {
  all: unset;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
a:focus-visible {
  outline: none;
}

li {
  list-style-type: none;
}
