@font-face {
  font-family: "Switzer-Variable";
  src: url("/assets/fonts/Switzer-Variable.woff2") format("woff2"),
    url("/assets/fonts/Switzer-Variable.woff") format("woff"),
    url("/assets/fonts/Switzer-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

.accent {
  color: var(--color-secondary);
  font-weight: normal;
}

* {
  font-family: "Switzer-Variable", sans-serif;
}

h1,
h1 *,
h2,
h2 *,
h3,
h3 *,
h4,
h4 *,
h5,
h5 *,
p,
p * {
  font-weight: var(--font-weight-light);
  line-height: 1;
}

h1 {
  font-size: var(--font-size-xl);
}

h3,
.h3 {
  font-size: var(--font-size-xl);
  color: var(--color-primary);
}

article h2 {
  margin-bottom: calc(var(--unit--vertical) / 2);
}

.title-center {
  --margin-left: calc(3 * var(--unit--horizontal));
  width: calc(100% - var(--margin-left));
  margin-left: var(--margin-left);
  line-height: var(--unit--vertical);
  font-size: var(--font-size-l);
}
.title-center h2 {
  font-size: var(--font-size-l);
}

.main-title {
  line-height: calc(var(--unit--vertical) * 2);
  text-align: left;
  box-sizing: border-box;
  font-weight: var(--font-weight-light);
  margin-bottom: var(--unit--vertical);
}

.text__title {
  font-size: var(--font-size-l);
}

p,
li,
button,
.fs-m {
  transform: translateY(calc(var(--unit--vertical) * 0.12));
  font-size: var(--font-size-m);
  line-height: calc(var(--unit--vertical));
}

.fs-s {
  font-size: var(--font-size-s) !important;
}
.fs-m {
  font-size: var(--font-size-m) !important;
}
.fs-l {
  font-size: var(--font-size-l) !important;
  line-height: calc(var(--unit--vertical) * 1.3);
}
.fs-xl {
  font-size: var(--font-size-xl) !important;
  line-height: calc(var(--unit--vertical) * 2) !important;
}
.fs-xxl {
  font-size: var(--font-size-xxl) !important;
  line-height: calc(var(--unit--vertical) * 2.5) !important;
}

p,
li,
button,
.fw-light {
  font-weight: var(--font-weight-light);
}

.fw-bold {
  font-weight: var(--font-weight-bold);
}

.fw-extra-bold {
  font-weight: var(--font-weight-extra-bold);
}

.f-inherit {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

.ta-center {
  text-align: center;
}

p {
  transform: translateY(3px);
}

input {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-light);
}

button {
  display: flex;
  align-items: center;
}

a {
  word-break: break-word;
}

a > * {
  word-break: normal;
}

a * {
  transition: font 0.2s ease-in-out;
}

a.no-underline.text__title:hover * {
  text-decoration: underline;
  text-decoration-color: inherit;
  text-decoration-line: underline;
  text-underline-offset: 0.2rem;
  text-decoration-thickness: 0.5px;
}
a:not(.no-underline):hover {
  text-decoration: none;
}

a:not(.no-underline) {
  text-decoration: underline;
  text-decoration-color: inherit;
  text-decoration-line: underline;
  text-underline-offset: 0.2rem;
  text-decoration-thickness: 0.5px;
}

article p:not(:last-child) {
  margin-bottom: var(--unit--vertical);
}

.footnote,
.footnote * {
  scroll-margin-block-start: calc(var(--unit--vertical) * 6);
  color: var(--color-primary);
  text-decoration: none !important;
  font-weight: var(--font-weight-bold) !important;
}

.footnote sup {
  all: unset;
}

.footnote:focus-visible,
.footnote:target {
  text-decoration: underline !important;
  text-underline-offset: 0.5rem;
}

@media screen and (min-width: 640px) {
  .title-center {
    margin-left: calc(2 * var(--unit--horizontal));
  }

  .fs-l {
    line-height: calc(var(--unit--vertical) * 1.5);
  }
}
