
.wrapper[data-v-4847e765] {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 800px) {
.k-field-footer[data-v-4847e765] {
    width: 9rem;
}
}
@media screen and (min-width: 533px) {
button[data-v-4847e765] {
    margin-top: 2.15rem;
}
}
