.k-panel-menu {
  background-color: #000;
}
.k-panel-menu * {
  color: #fff;
}

.k-panel-menu-button[aria-current] * {
  color: #000;
}

.k-panel[data-template="year"] .k-list-items .k-item:first-child {
  margin-bottom: 2rem;
}
.k-panel[data-template="year"] .k-list-items::before {
  content: "Texte princeps";
  display: block;
  padding: 0.5rem;
  padding-bottom: 0.7rem;
  border-radius: var(--rounded-md) var(--rounded-md) 0 0;
  transform: translateY(0.3rem);

  background-color: #000;
  color: #fff;
}
